.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: sticky;
}

.navbar-menu {
      gap:25px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
